@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@import "tailwindcss";


:root {
  @theme {
  --font-daysOne: 'Days One', sans-serif;
  --font-dmSans: 'DM Sans', sans-serif;
  --color-primary: #FF0000;
  --color-secondary: #FFF212;
  }
}

html {
  scroll-behavior: smooth;
}


body {
  @apply min-h-screen bg-blue-50 text-black antialiased;
  margin: 0;
  scrpoll-behavior: smooth;
}